@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins;
  scroll-behavior: smooth;
}

*,
*::after,
* ::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 169, 214);
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.df {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form__input {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.wrapper {
  border: 1px solid #073886;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 220px;
  padding: 10px;
  border: 1px solid #073886;
}
.card__img {
  width: 200px;
  height: 200px;
  background-color: rgb(225, 225, 225);
}
.card__text {
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
}
.card__btn {
  transition: 0.2s;
}
.card__btn:hover {
  box-shadow: 0px 0px 5px white;
}
.card__btn:active {
  opacity: 0.5;
}